In [1]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.impute import SimpleImputer
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
#from sklearn.impute import IterativeImputer
import plotly.express as px

import util
import pickle
from imputation import check_missing, impute_na_with_random, convert_numeric
from pca import pca, create_correlation_matrix
from model import calculate_feature_importances, train_and_evaluate_model
from nn import create_model, train_and_evaluate

2023-06-01 21:19:03.180687: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
df = pd.read_table("../data/35509-0001-Data.tsv")
df

,CASEID,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,II2EMSTY,EMPSTAT4,IIEMPST4,II2EMST4,PDEN00,COUTYP2,MAIIN002,ANALWT_C,VESTR,VEREP
0,1,48694667,1,99,99,19,2012,7,1,1,...,1,4,1,1,2,2,2,4398.40,30017,1
1,2,88530883,1,99,99,14,9999,99,2,93,...,1,4,1,1,1,1,2,1419.19,30052,2
2,3,33251077,1,99,99,14,9999,99,1,2,...,1,99,9,9,3,3,2,14052.62,30028,1
3,4,37814127,1,99,99,16,9999,99,4,93,...,1,4,1,1,1,1,2,10848.18,30055,2
4,5,18762590,1,99,99,14,9999,99,4,93,...,1,1,1,1,2,2,2,5651.73,30013,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55155,55156,13675473,2,99,99,991,9991,91,91,91,...,1,2,1,1,3,3,2,679.36,30003,1
55156,55157,49609908,1,99,99,16,9999,99,4,93,...,1,1,1,1,2,2,2,2296.28,30057,2
55157,55158,81795924,2,99,99,991,9991,91,91,91,...,1,4,1,1,3,3,2,17180.64,30026,1
55158,55159,17198338,2,4,4,991,9991,91,91,91,...,9,99,9,9,1,1,2,3104.06,30051,2
55159,55160,55989934,2,99,99,991,9991,91,91,91,...,1,1,1,1,3,3,2,3232.99,30037,2

Before we alter any columns, let us see if there are any duplicate entries.
In the cell below, we see the length is the same, therefore we verify each 
Question ID is unique (this is important for ensuring no duplicate entries)

In [ ]:
df['QUESTID2'].value_counts().sum()

## Wrangling and Cleaning

First we will only look at the data where the age of the respondant is between [12, 25]. Then we will assess the missingness of each column by first changing all *'MISSING'* *'SKIPPED'* *'CHOSE NOT TO RESPOND'*, etc values denoted by the Codebook documentation. We will also use vectorized functions to make use of efficient algorithms.

In [3]:
# only want ages 12 - 25
df = df[(df['CATAGE'] == 1) | (df['CATAGE'] == 2)]
df = df.set_index('CASEID')

Lets also see if we can partition the operations to make the function faster, since we are dealing with a dataset of about a billion observations.
We will attempt to do this through Dask, a distributed systems library, and if it is faster we will apply this later on in the future.

In [4]:
#dask_df = dd.from_pandas(df, npartitions=10)  # You can adjust the number of partitions
# Apply function to each partition
#dask_df = dask_df.map_partitions(lambda df: 
#                                 df.applymap(check_missing)).compute(scheduler='processes')

# Convert back to pandas DataFrame (optional)
#dask_df

Using the % timeit function, we see that there is no significant difference in using Dask. This is probably because our Dataset is large enough to take a while to run on, but not large enough to where it would warrant memory issues. It is in a middle ground where it is large enough to where it would take a while on a local system, but not large enough to benefit from parallizing. 

Moving on, we will use applymap as normal

In [5]:
# make all missing values as pd.NA
df = df.applymap(check_missing)
df

,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,CG30EST,...,II2EMSTY,EMPSTAT4,IIEMPST4,II2EMST4,PDEN00,COUTYP2,MAIIN002,ANALWT_C,VESTR,VEREP
CASEID,,,,,,,,,,,,,,,,,,,,,
1,48694667,1,<NA>,<NA>,19,2012,7,1,1,<NA>,...,1,4,1,1,2,2,2,4398.4,30017,1
2,88530883,1,<NA>,<NA>,14,<NA>,<NA>,2,<NA>,<NA>,...,1,4,1,1,1,1,2,1419.19,30052,2
3,33251077,1,<NA>,<NA>,14,<NA>,<NA>,1,2,<NA>,...,1,<NA>,9,9,3,3,2,14052.62,30028,1
8,35106150,1,<NA>,<NA>,22,<NA>,<NA>,2,<NA>,<NA>,...,1,1,1,1,2,2,2,3211.24,30024,1
9,67182690,1,<NA>,<NA>,16,<NA>,<NA>,1,20,<NA>,...,1,4,1,1,1,1,2,6396.73,30038,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55153,31776420,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1,4,1,1,2,2,2,1649.35,30024,2
55155,10772244,1,<NA>,<NA>,18,<NA>,<NA>,3,<NA>,<NA>,...,1,1,1,1,1,1,2,4594.84,30002,2
55156,13675473,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1,2,1,1,3,3,2,679.36,30003,1
55157,49609908,1,<NA>,<NA>,16,<NA>,<NA>,4,<NA>,<NA>,...,1,1,1,1,2,2,2,2296.28,30057,2
55159,17198338,2,4,4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,9,<NA>,9,9,1,1,2,3104.06,30051,2

Now, since there are many columns and a lot of NA values, we will drop all columns with over 95% missingness as the amount of data in these columns is not enough in comparison to the rest of the data and may not be a good representation of the overall distribution of these specific features.

In [6]:
df_subset = df.loc[:, df.isna().mean() < 0.95]
df_subset

,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,CIG30AV,...,II2EMSTY,EMPSTAT4,IIEMPST4,II2EMST4,PDEN00,COUTYP2,MAIIN002,ANALWT_C,VESTR,VEREP
CASEID,,,,,,,,,,,,,,,,,,,,,
1,48694667,1,<NA>,<NA>,19,2012,7,1,1,2,...,1,4,1,1,2,2,2,4398.4,30017,1
2,88530883,1,<NA>,<NA>,14,<NA>,<NA>,2,<NA>,<NA>,...,1,4,1,1,1,1,2,1419.19,30052,2
3,33251077,1,<NA>,<NA>,14,<NA>,<NA>,1,2,1,...,1,<NA>,9,9,3,3,2,14052.62,30028,1
8,35106150,1,<NA>,<NA>,22,<NA>,<NA>,2,<NA>,<NA>,...,1,1,1,1,2,2,2,3211.24,30024,1
9,67182690,1,<NA>,<NA>,16,<NA>,<NA>,1,20,3,...,1,4,1,1,1,1,2,6396.73,30038,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55153,31776420,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1,4,1,1,2,2,2,1649.35,30024,2
55155,10772244,1,<NA>,<NA>,18,<NA>,<NA>,3,<NA>,<NA>,...,1,1,1,1,1,1,2,4594.84,30002,2
55156,13675473,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1,2,1,1,3,3,2,679.36,30003,1
55157,49609908,1,<NA>,<NA>,16,<NA>,<NA>,4,<NA>,<NA>,...,1,1,1,1,2,2,2,2296.28,30057,2
55159,17198338,2,4,4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,9,<NA>,9,9,1,1,2,3104.06,30051,2

Lets see the proportion of NA values in each column

In [7]:
columns_nas = df_subset.isna().sum()/df_subset.shape[0]
columns_nas

QUESTID2    0.062880
CIGEVER     0.000000
CIGOFRSM    0.590585
CIGWILYR    0.590641
CIGTRY      0.619878
              ...
COUTYP2     0.000000
MAIIN002    0.000000
ANALWT_C    0.070210
VESTR       0.000000
VEREP       0.000000
Length: 1912, dtype: float64

Lets Verify that All Columns of 95% Missingness Have Been Dropped

In [8]:
columns_nas95 = columns_nas[columns_nas > 0.95]
columns_nas95

Series([], dtype: float64)

Lets get a list of the 'bad' columns. These are columns representing hard drugs (anything other than Tobacco, Alcohol, and Marijuana)

In [9]:
bad_columns = util.get_bad_columns(filepath='../data/Data-Codebook.pdf')

In [10]:
#bad_columns

In [11]:
df_subset = df_subset.drop(columns=bad_columns, errors='ignore')
df_subset

,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,CIG30AV,...,II2EMSTY,EMPSTAT4,IIEMPST4,II2EMST4,PDEN00,COUTYP2,MAIIN002,ANALWT_C,VESTR,VEREP
CASEID,,,,,,,,,,,,,,,,,,,,,
1,48694667,1,<NA>,<NA>,19,2012,7,1,1,2,...,1,4,1,1,2,2,2,4398.4,30017,1
2,88530883,1,<NA>,<NA>,14,<NA>,<NA>,2,<NA>,<NA>,...,1,4,1,1,1,1,2,1419.19,30052,2
3,33251077,1,<NA>,<NA>,14,<NA>,<NA>,1,2,1,...,1,<NA>,9,9,3,3,2,14052.62,30028,1
8,35106150,1,<NA>,<NA>,22,<NA>,<NA>,2,<NA>,<NA>,...,1,1,1,1,2,2,2,3211.24,30024,1
9,67182690,1,<NA>,<NA>,16,<NA>,<NA>,1,20,3,...,1,4,1,1,1,1,2,6396.73,30038,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55153,31776420,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1,4,1,1,2,2,2,1649.35,30024,2
55155,10772244,1,<NA>,<NA>,18,<NA>,<NA>,3,<NA>,<NA>,...,1,1,1,1,1,1,2,4594.84,30002,2
55156,13675473,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1,2,1,1,3,3,2,679.36,30003,1
55157,49609908,1,<NA>,<NA>,16,<NA>,<NA>,4,<NA>,<NA>,...,1,1,1,1,2,2,2,2296.28,30057,2
55159,17198338,2,4,4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,9,<NA>,9,9,1,1,2,3104.06,30051,2

## EDA

After filtering the dataset, we did some preliminary data analysis to find interesting trends.

In [ ]:
#print(df_subset.columns.to_list())
px.bar(df_subset["GLUE"].value_counts()).show()

HLTINDRG: represents drug abuse

Lets see the value counts for it so we can get an idea of the missingness in the response vector.

In [ ]:
y = df_subset['HLTINDRG']
print(y.value_counts())
print('Number of NA values: ', len(y) - y.value_counts()[1] - y.value_counts()[2])
abuse = px.histogram(y,title="Distribution HLTINDRG (Drug Abuse?) <br>1: YES 2: NO")
# how does this calculate the NA values if 1 is Yes and 2 is No?
abuse.update_layout(bargap=0.2)
abuse.update_layout(showlegend=False)
abuse.show()

In [12]:
y = df_subset['HLTINDRG']

Since we have a large proportion of missing values, we must assess how to handle them.

Data Exclusion: This strategy, also known as listwise or complete-case deletion, involves removing all cases (rows) with missing values. This is the simplest approach and can be used when the number of cases with missing response values is small and are Missing Completely at Random (MCAR). However, you can lose a lot of data if the number of missing values is substantial.

Imputation: You can still use imputation techniques, but need to choose ones that are suitable for binary variables. Common techniques include:

- Mode imputation: Replace the missing values with the mode (most common value) of the non-missing values. This is a simple and fast method, but it can introduce bias if the missing data is not MCAR.

- Predictive mean matching (PMM): This involves using a model to predict the missing values from the other data, and then taking a random draw from the observed values with similar predicted values. This is more robust than simple model-based imputation.

- Logistic regression imputation: Since the response variable is binary, you can fit a logistic regression model using the other variables, and then predict the missing values.

- Multiple Imputation: Similar to the continuous case, multiple imputation can be used. It acknowledges the uncertainty about the imputation by creating several different plausible imputed datasets and combining results obtained from each of them.

Remember, the way you handle missing data in the response variable should depend on the reason why the data is missing. For example, if a response is missing not at random, meaning that the missingness is related to the underlying, unobserved response, excluding these cases or filling in with imputed values can lead to bias in your results. In such cases, more advanced techniques might be necessary, possibly involving using models that can handle missing data directly.

## Imputation

Since we have a lot of missing values, we are going to assess handling them in two different ways:

- listwise deletion: dropping all rows where the response vector value is NA, then sampling from the distribution and imputing to preserve the shape and nature. 
- probabilistic: sampling from the distribution and imputing to preserve the shape and nature in both X and y. 

Then we will compare the distributions between these two, as well as run them through our model to see if there are significant differences in either. 

Our hypothesis is that probabisitic will be a better way of imputing values in our design matrix, X, and that we can just drop rows after this imputation step where the value in our response vector, y are <NA>

Now that we have are data cleaned, imputed, and subsetted to only the columns and rows relevant to our analysis, we can prepare it for PCA. By doing PCA, we want to find the most signifcant feature vectors that explain the variance in the dataset, and ultimately contribute to drug abuse so that we can discover where to prevent drug usage among teens.

In [13]:
X = df_subset.iloc[:, 1:]
X

,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,CIG30AV,CIG30BR2,...,II2EMSTY,EMPSTAT4,IIEMPST4,II2EMST4,PDEN00,COUTYP2,MAIIN002,ANALWT_C,VESTR,VEREP
CASEID,,,,,,,,,,,,,,,,,,,,,
1,1,<NA>,<NA>,19,2012,7,1,1,2,<NA>,...,1,4,1,1,2,2,2,4398.4,30017,1
2,1,<NA>,<NA>,14,<NA>,<NA>,2,<NA>,<NA>,<NA>,...,1,4,1,1,1,1,2,1419.19,30052,2
3,1,<NA>,<NA>,14,<NA>,<NA>,1,2,1,112,...,1,<NA>,9,9,3,3,2,14052.62,30028,1
8,1,<NA>,<NA>,22,<NA>,<NA>,2,<NA>,<NA>,<NA>,...,1,1,1,1,2,2,2,3211.24,30024,1
9,1,<NA>,<NA>,16,<NA>,<NA>,1,20,3,112,...,1,4,1,1,1,1,2,6396.73,30038,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55153,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1,4,1,1,2,2,2,1649.35,30024,2
55155,1,<NA>,<NA>,18,<NA>,<NA>,3,<NA>,<NA>,<NA>,...,1,1,1,1,1,1,2,4594.84,30002,2
55156,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1,2,1,1,3,3,2,679.36,30003,1
55157,1,<NA>,<NA>,16,<NA>,<NA>,4,<NA>,<NA>,<NA>,...,1,1,1,1,2,2,2,2296.28,30057,2
55159,2,4,4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,9,<NA>,9,9,1,1,2,3104.06,30051,2

Dropping all rows where the response vector value is NA, then sampling to impute missing values in X

In [ ]:
X_listwise_deletion = df_subset.drop(df_subset[(df_subset['HLTINDRG'] == 94) | (df_subset['HLTINDRG'].isna())].index)
#X_listwise_deletion = X_listwise_deletion.apply(lambda column: column.where(column.notna(), np.random.choice(column.dropna().values, size=len(column))))
X_listwise_deletion # len should be 8361 + 2584 based on y.value_counts()

Imputing All NA values with values that are from the distribution (this step is harder and takes a longer amount of time)

In [ ]:
# Apply the function on each column of df_subset
X_probabilistic = df_subset.apply(impute_na_with_random)
X_probabilistic

In [ ]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(X_probabilistic)
scaled_data

In [ ]:
EDA_1_df = X_probabilistic[["RSKSELL","HLTINDRG"]]
EDA_1_df["HLTINDRG"] = EDA_1_df["HLTINDRG"].apply(lambda x: "Yes" if x == 1 else "No" if x== 2 else "NA")

EDA_1_df["RSKSELL"] = EDA_1_df["RSKSELL"].apply(lambda x: "Yes" if x == 1 else "No" if x== 2 else "NA")

EDA_1 = EDA_1_df.groupby("RSKSELL").value_counts()

print(EDA_1.unstack().index)

px.bar(EDA_1.unstack(), title="APPROACHED BY SOMEONE SELLING ILL DRUG PST 30 DYS Conditioned On DRUG ABUSE", barmode = 'group').show()

In [ ]:
EDA_2_df = X_probabilistic[["AMHTXRC3","HLTINDRG"]]
EDA_2_df["HLTINDRG"] = EDA_2_df["HLTINDRG"].apply(lambda x: "Yes" if x == 1 else "No" if x== 2 else "NA")

EDA_2_df["AMHTXRC3"] = EDA_2_df["AMHTXRC3"].apply(lambda x: "Yes" if x == 1 else "No" if x== 2 else "NA")

EDA_2 = EDA_2_df.groupby("AMHTXRC3").value_counts()

print(EDA_2.unstack().index)

px.bar(EDA_2.unstack(), title="RCVD ANY MENTAL HEALTH TRT IN PST YR Conditioned On DRUG ABUSE", barmode = 'group').show()

In [ ]:
EDA_3_df = X_probabilistic[["YEPCHKHW","HLTINDRG"]]
EDA_3_df["HLTINDRG"] = EDA_3_df["HLTINDRG"].apply(lambda x: "Yes" if x == 1 else "No" if x== 2 else "NA")

EDA_3_df["YEPCHKHW"] = EDA_3_df["YEPCHKHW"].apply(lambda x: "Yes" if x == 1 else "No" if x== 2 else "NA")

EDA_3 = EDA_3_df.groupby("YEPCHKHW").value_counts()

print(EDA_3.unstack().index)

px.bar(EDA_3.unstack(), title="PRNTS CHECK IF YOU'VE DONE HOMEWORK PST 12 MOS Conditioned On DRUG ABUSE", barmode = 'group').show()

## Feature Significance

Now before we choose a model, we need to assess the most important features. Since we are working with mostly categorical columns, PCA will not work well compared to Tree Based Algorithms. To start we have decided to use XGBoost to calculate feature importances.

### XGBoost

Some notes on XGBoost:

- Speed and Performance: comparatively faster than other ensemble classifiers!

- Parallelizable: Because the core XGBoost algorithm is parallelizable, it can harness the power of multicore computers. It is also parallelizable onto GPU's and across networks of computers, making it feasible to train models on very large datasets.

- Wide Variety of Tuning Parameters: XGBoost internally has parameters for cross-validation, regularization, user-defined objective functions, missing values, tree parameters, scikit-learn compatible API, etc.

- Handling Missing Values: XGBoost has an in-built routine to handle missing values. (Our cleaning should have handled this)

- Regularization: XGBoost is also well known for having built-in L1 (Lasso Regression) and L2 (Ridge Regression) regularization which prevents the model from overfitting.

In [ ]:
#pca(X=X_probabilistic, scaled_data=scaled_data, thres=.95)
#correlation_matrix = create_correlation_matrix(X_probabilistic)
#correlation_matrix

#most_correlated_features = abs(correlation_matrix).drop(["SUMFLAG"]).sort_values(ascending = False)
#most_correlated_features

In [ ]:
# convert response vector to 0s and 1s
X_probabilistic['HLTINDRG'] = X_probabilistic['HLTINDRG'] - 1

# ensure all column dtypes are int / float, not object
X_probabilistic = convert_numeric(X_probabilistic)

# get most important
most_important_features = calculate_feature_importances(df=X_probabilistic, response='HLTINDRG')

In [14]:
X['HLTINDRG'] = X["HLTINDRG"] - 1
X = convert_numeric(X)
X['HLTINDRG']

CASEID
1        NaN
2        NaN
3        NaN
8        NaN
9        NaN
        ...
55153    NaN
55155    NaN
55156    NaN
55157    NaN
55159    0.0
Name: HLTINDRG, Length: 35878, dtype: float64

In [15]:
X['HLTINDRG'] = X['HLTINDRG'].fillna(2)

In [16]:
X = X.fillna(-999)

In [17]:
most_important_features = calculate_feature_importances(df=X, response='HLTINDRG')

/Users/calvin/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")

In [18]:
most_important_features[most_important_features['Importance'] > 0.000]

       Feature  Importance
1746  HLTINALC    0.130523
1747  HLTINMNT    0.013992
1744  PRVHLTIN    0.009782
658   CIGREGDY    0.006845
1408  AD_MDEA8    0.005955
...        ...         ...
1380   ADWRIMP    0.000049
1649   CADRCAR    0.000037
1584  YOWRLOSE    0.000017
688   MRJLIMIT    0.000010
1619    YMDELT    0.000005

[734 rows x 2 columns]

# Running and Comparing Different Models

Now that we have an idea of the most significant features, we will run and compare different Supervised algorthms to see how they perform on predicting whether a person uses drugs based on the data. Later on we will also run Unsupervised Clustering methods to identify demographics likely to use drugs.

### Neural Networks

Neural networks, including Convolutional Neural Networks (CNNs), can be used with categorical data, but the data needs to be prepared appropriately and the right kind of network architecture must be chosen.

We should consider:

- Embedding Layers: In Neural Networks, categorical data is typically transformed into numeric form using an embedding layer, which maps each category to a dense vector of real numbers. The advantage of this approach is that the network can learn a representation that captures the relationships between categories in a way that one-hot encoding cannot. Our dataset appears to have satisfied this

- Network Architecture: CNNs might not be the best fit for categorical data, *unless* the categorical data has some spatial or sequential structure. Fully connected networks (FCNs) or Multi-layer Perceptrons (MLPs) are usually more appropriate for structured, tabular data.

- Overfitting: Neural networks, particularly deep ones, can overfit to the training data if it is not large or diverse enough. Techniques like regularization, dropout, and early stopping can mitigate this risk.

**Note:** 
- the code for the cel below is not complete, so it is commented out for now. It also takes a very long time to run on a laptop since it is handling many layers and computations within our current Neural Network design. 
- This also suggests a Boosted Decision Tree may be a more efficient approach, and based on [this article](https://towardsdatascience.com/when-and-why-tree-based-models-often-outperform-neural-networks-ceba9ecd0fd8), produce a more accurate result.

In [ ]:
categorical_vars = most_important_features['Feature'].tolist()
X = X_probabilistic[categorical_vars]
y = X_probabilistic['HLTINDRG']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


#model, loss, accuracy = train_and_evaluate(categorical_vars, X, y)

#print(f'Test loss: {loss}, Test accuracy: {accuracy}')

### Boosted Decision Trees (using XGBoost)

The boosting technique is powerful, but it can lead to overfitting if not used with care. It's important to tune the parameters, like the learning rate and the number of trees, to get a model that generalizes well.
[Read more here](https://dsc-courses.github.io/dsc140a-2023-wi/materials/lectures/17-boosting/slides.pdf)

In [19]:
categorical_vars = most_important_features['Feature'].tolist()
y = X["HLTINDRG"]
X = X.drop(["HLTINDRG"], axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# create XGBClassifier
xg_clf = xgb.XGBClassifier(n_estimators=100, learning_rate=0.1, max_depth=5)
result = train_and_evaluate_model(xg_clf, X, y, "xgboost_model", categorical_vars)
result

Confusion Matrix:
[[1614    9   69]
 [   9  485   27]
 [  51   18 4894]]
Accuracy:  0.9744983277591973

In [ ]:
result.head(10)

### Logistic Regression using Lasso / Ridge regularization

- Lasso Regression (L1 Regularization): This type of regression tends to make the coefficients of less important features zero, effectively eliminating them. This can be useful in feature selection.

- Ridge Regression (L2 Regularization): This type of regression reduces the magnitude of the coefficients but does not make them zero. It helps to reduce the model complexity and multicollinearity.

In [ ]:
# Create a Logistic Regression model with L2 regularization
lr = LogisticRegression(penalty='l2')
train_and_evaluate_model(lr, X, y, "logistic_regression_model", categorical_vars)

In [ ]:
# Create a Random Forest classifier
rf_clf = RandomForestClassifier(n_estimators=100)
result = train_and_evaluate_model(rf_clf, X, y, "random_forest_model", categorical_vars)
result